/* Inserta tu CSS aqui */
div {
	background: gray;
	border: 1px solid black;
}

.caja {
	height: 100px;
	width: 100px;
}

#cajauno {
	margin-bottom: 5px;
}

.linea {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
}

.hijo {
display: inline-block;
margin-right: 10px; 
}

.conteiner {
	border: 1px solid black;
	width: 350px;
	padding: 10px 0px 10px 10px;
	margin-bottom: 8px;
}

